* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Desktop Layout Design */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

nav h2 {
  font-size: 25px;
}

.menu {
  display: flex;
  gap: 25px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu button {
  padding: 10px 15px;
  background: cyan;
  color: white;
  border: none;
  border-radius: 5px;
}

nav > button {
  display: none;
}

/* Design for Tablet LAy*/

@media (max-width: 900px) {
  nav {
    background: cyan;
    padding: 20px;
    flex-wrap: wrap;
  }

  nav h2 {
    color: white;
  }

  nav > button {
    display: block;
    background: none;
    color: white;
    border: none;
  }

  .menu {
    display: none;
  }

.menu.show {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

  .menu a {
    color: white;
  }
}

/* Design for Mobile  Lay*/

@media (max-width: 600px) {
  nav {
    padding: 20px;
    display: block;
  }

  nav h2 {
    display: inline-block;
  }

  nav > button {
    float: right;
  }

.menu.show {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: space-around;
  gap: 30px;
}

  .menu a {
    font-size: 20px;
  }

  .menu button {
   
    width: 200px;
  }
}